.superInput {

    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.superInput:focus {
    outline: none;

}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}